#unselectableText {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  font-family: "PingFang SC"
}

#rotatingSphere1 {
  position:absolute;
   -webkit-animation: rotation 10s infinite linear;
   width: inherit;
   height:inherit;
}

#rotatingSphere2 {
  position:absolute;
   -webkit-animation: rotationCounter 9s infinite linear;
   width: inherit;
   height:inherit;
}

#hexagon0 {
  left:64px;
  top:64px;
  position:absolute;
  -webkit-animation: resize0 10s infinite linear;
  -webkit-animation-direction: alternate;
   width: 384px;
   height:384px;
}
#hexagon1 {
  left:0px;
  top:64px;
  position:absolute;
  -webkit-animation: resize1 5s infinite linear;
  -webkit-animation-direction: alternate;
   width: 128px;
   height:128px;
}
#hexagon2 {
  right:0px;
  bottom:48px;
  position:absolute;
  -webkit-animation: resize1 5s infinite linear;
  -webkit-animation-direction: alternate;
   width: 128px;
   height:128px;
}
#hexagon3 {
  left:48px;
  bottom:16px;
  position:absolute;
  -webkit-animation: resize1 2.5s infinite linear;
  -webkit-animation-direction: alternate;
   width: 96px;
   height:96px;
}

#hexagon4 {
  left:0px;
  bottom:0px;
  position:absolute;
   width: 128px;
   height:128px;
}

@-webkit-keyframes resize0 {
		from {
        left:64px;
        top:64px;
				width: 384px;
        height: 384px;
		}
		to {
        left:96px;
        top:96px;
				width: 320px;
        height: 320px;
		}
}

@-webkit-keyframes resize1 {
		from {
				width: 128px;
        height: 128px;
		}
		to {
				width: 160px;
        height: 160px;
		}
}

@-webkit-keyframes resize2 {
		from {
				width: 128px;
        height: 128px;
		}
		to {
				width: 96px;
        height: 96px;
		}
}

@-webkit-keyframes resize3 {
		from {
				width: 96px;
        height: 96px;
		}
		to {
				width: 128px;
        height: 128px;
		}
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@-webkit-keyframes rotationCounter {
		from {
      -webkit-transform: rotate(359deg);
		}
		to {
      -webkit-transform: rotate(0deg);
		}
}
